
.close-btn:hover {
    -fx-background-color: #ff0600;
   -fx-text-fill: #464646;
    -fx-scale-y: 1.1;
}

.close-btn:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.minimize-btn:hover{
    -fx-background-color: #5754ff;
    -fx-text-fill: #ffffff;
}
.maximize-bnt{
    -fx-border-style: solid;
    -fx-border-width: 20%;
}
.btn{
    -fx-background-color: #000000;
    /*-fx-background-color: #2d2b35;*/
    -fx-text-fill: white;
    -fx-font-family: Segoe UI;
    -fx-font-size: 25px;
    -fx-background-radius: 60 60 60 60;
}
.btn:hover{
    
    -fx-background-color:gray ;
}