.nav-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: red;
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI";
    -fx-border-color: #ff9e9e;
    -fx-border-width: 3 3 3 3;
}

.selected {
    -fx-background-color: #ff0600;
    -fx-border-color: red;

    -fx-text-fill: white;
}